{% extends "stockmanager/base.html" %} {% load crispy_forms_tags %} 
{% block content %} 
{% if user.is_authenticated %}
<div class="row">
  <div class="col-6">
    <h4 class="mb-4">Portfolio Value: {{ portfolio }} USD</h4>
  </div>
  <br />
  <div class="col-6">
    <div class="container">
      <div class="card">
        <div class="card-header">
          Editing Portolfio Options
        </div>
        <div class="card-body scroll">
          <div class="row">
            <div class="col-4">
              <div class="list-group sticky-top">
                <a
                  href="#insertshares"
                  class="list-group-item list-group-item-action"
                  >INSERT</a
                >
                <a
                  href="#deleteShares"
                  class="list-group-item list-group-item-action"
                  >DELETE</a
                >
                <a
                  href="#updateShares"
                  class="list-group-item list-group-item-action"
                  >UPDATE</a
                >
                <div class="container mt-4 mb-4">{{ update_message }}</div>
              </div>
            </div>
            <div class="col-8">
              <a name="insertshares"></a>
              <br>
              <h5>Insert A New Stock</h5>
              <div id="insert" style="font-size: 14px;">
                <form action="/" method="post">
                  {% csrf_token %} {{ add_form|crispy }}
                  <button class="btn btn-block" type="submit" name="add_form">
                    Insert
                  </button>
                </form>
              </div>
              <a name="deleteShares"></a>
              <br>
              <h5>Delete An Owned Stock</h5>
              <div class="delete" style="font-size: 14px;">
                <form action="/" method="post">
                  {% csrf_token %} {{ delete_form|crispy }}
                  <button
                    class="btn btn-info btn-block"
                    type="submit"
                    name="delete_form"
                  >
                    Delete
                  </button>
                </form>
              </div>
              <a name="updateShares"></a>
              <br>
              <h5>Update A Current Stock</h5>
              <div class="update" style="font-size: 14px;">
                <form action="/" method="post">
                  {% csrf_token %} {{ update_form|crispy }}
                  <button
                    class="btn btn-info btn-block"
                    type="submit"
                    name="update_form"
                  >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div id="accordion">
      <div class="container">
        <div class="card">
          <div class="card-header">
            My Stocks
          </div>
        </div>
        {% for item1, item2, item3, item4, item5, item6, item7 in infolist %}
        <div class="card">
          <button
            class="btncard btn-link btn-block"
            data-toggle="collapse"
            data-target="#collapse{{item1}}"
            aria-expanded="false"
            aria-controls="collapse{{item1}}"
          >
            <div
              class="dropdownheader card-header"
              id="heading{{item1}}"
            >
              <div class="d-flex justify-content-between">
                <div>{{ item1 }}</div>
                <div>${{ item7 }}</div>
                <div>Shares: {{item2}}</div>
              </div>
            </div>
          </button>
          <div
            id="collapse{{item1}}"
            class="collapse"
            aria-labelledby="heading{{item1}}"
            data-parent="#accordion"
          >
            <div class="card-body">
                <div>Security Score: {{ item4 }}</div>
                <div>Industry: {{item3}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  function logTest() {
    console.log("Testing that I can click.");
  }
</script>
{% endif %} 
{% endblock content %}