{% extends "stockmanager/base.html" %}
{% block content %}
    <p> Diplaying search results for {{ search_query }}:</p>
    <p> {{ senate_transactions }} </p>
    {% for company_name, ticker, security_score, price, transactions in search_results %}
    <div class="container neumorphic-stock">
        <p> {{ company_name }} </p>
        <p> {{ ticker }} </p>
        <p>Security score: {{ security_score }} </p>
        <p>Current price: {{ price }}</p>
        <p>U.S. Senator transactions:</p>
        {% for owner, ticker, senator, amount, date, type in transactions %}
            <p>{{ owner }}</p>
            <p>{{ senator }}</p>
            <p>{{ amount }}</p>
            <p>{{ date }}</p>
            <p>{{ type }}</p>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}