.asteriskField {
  display: none;
}

form .alert ul li {
  list-style: none;
}

form .alert ul {
  padding: 0;
  margin: 0;
}

.card-header {
  background: #011627;
  color:white;
}

.btn  {
  background-color: #011627;
  color:white;
  font-size: 14px;
}

.btn:hover, 
.dropdown-item:hover {
  background-color: #0b3954;
  color:white;
}

.collapse a {
  font-size: 14px;
}

.dropdownheader, .btncard, .carddetails {
  background-color: white;
  color: black;
}

.carddetails {
  font-size: 0.875rem;
}

.btncard {
  border: none;
  text-decoration: none;
}

.btncard:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.btncard:focus {
  text-decoration: none;
  outline: 0;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

h5 {
  font-size: 1.125rem;
}

.list-group {
  border: solid 1px lightgrey; 
  font-size: 13px; text-align: center;
}

.neumorphic-stock
{
  border-radius: 26px;
  background: #ffffff;
  box-shadow:  32px 32px 64px #e3e3e3, 
             -32px -32px 64px #ffffff;
}