{% extends 'stockmanager/base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
          </div>
          <div class="card-body">
          <h5 class="mb-2 text-center">LOGIN</h5>
          <div style="font-size: 13px;">
            <form method="post" novalidate>
              {% csrf_token %} {{ form|crispy }}
              <div class="text-right">
                <a href="{% url 'password_reset' %}" class="btn-link" style="font-size: 13px;"
                  >Forgot your password?</a
                >
              </div>
              <br>
              <div class="text-center">
              <button type="submit" class="btn mb-2 btn-block">Login</button>
              <footer class="blockquote-footer">
                <p style="font-size: 12px;">New User? <a href="{% url 'signup' %}" class="btn-link"
                  >Create An Account Here.</p>
                </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
