{% extends 'stockmanager/base.html' %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-2">Change Password</h5>
          <p>Password change successful!</p>
          <p style="font-size:13px;">You many now <a href ="{% url 'home' %}">return to your portfolio.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
