{% extends 'stockmanager/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
            <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
                </div>
                <div class="card-body text-center">
                <h5 class="mb-2">Password Change was Successful!</h5>
                <p style="font-size:13px;">You many now <a href ="{% url 'login' %}">log in</a> again.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}